<div class="spacer2">
</div>
<div class="row">
    <div class="col-md-3 no-pad">
        <div id="side-navs-fixed">
          <nav class="side-nav">
            <img class="img-responsive" src="images/patient_headshot3_cropped.jpg" alt="" />
            <ul class="complete-side">
              <li><span class="number-gray">No.01</span></li>
              <li class="pink-text">Mammograms</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
            </ul>

              <ul class="complete-side">
                <li><span class="number-gray">No.02</span></li>
                <li class="pink-text">Biopsy</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
              </ul>


            <div class="background-pink">
              <ul>
                <li><span class="white">No.03</span></li>
                <li class="border-bottom">Molecular Testing</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
              </ul>
            </div>
            <div class="row next-steps">

                <div class="row breadcrumb steps-13">
                  <ul>
                    <li class="1st-step completed"><span class="dot completed"></li>
                    <li class="2nd-step completed"><span class="dot completed"></span></li>
                    <li class="3rd-step completed"><span class="dot completed"></span></li>
                    <li class="4th-step completed"><span class="dot completed"></span></li>
                    <li class="5th-step completed"><span class="dot completed"></span></li>
                    <li class="6th-step completed"><span class="dot completed"></span></li>
                    <li class="7th-step active"><span class="dot active"><img src="images/hotspot.png" class="hotspot" alt="hotspot" /></span><span class="dot active pulse"></span></li>
                    <li class="8th-step "><span class="dot "></span></li>
                    <li class="9th-step "><span class="dot "></span></li>
                    <li class="10th-step"><span class="dot"></span></li>
                    <li class="11th-step"><span class="dot"></span></li>
                    <li class="12th-step"><span class="dot"></span></li>
                  </ul>
                </div>
              <ul>
                <li><span>No.04</span></li>
                <li>Recommendations</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
              </ul>
            </div>
          </nav>

        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 top-quote">
      <blockquote>
  Velma’s doctors have sent her tissue sample for HER2 FISH testing.        </blockquote>
        <main id="content-main" class="row patient-1 svg-test">

        <h2>Conducting the HER2 FISH Test:</h2>
            <div class="svg-container">
                <img src="images/doctor_and_microscope2.jpg" alt="cell biopsy slide 3" />
                <div class="svg-text full">
                    <p>
                      <strong>Step 4</strong>
  The medium that contains the fluorescent dye is applied to the slide.
                    </p>
                      <span class="left-arrow"><a href="startview2" data-navigate="startview2">&#8594;</a></span>

                </div>
            </div>
            <div class="row continue-container background-nav-blue">
                <div class="col-md-12 no-pad text-center">
                  <div class="col-md-4">
                    <a data-navigate="patient1view24" class="previous"><button class="" type="button" name="button">&#8592; Previous</button></a>
                  </div>
                  <div class="col-md-4 line-across">

                  </div>
                  <div class="col-md-4">
                    <a  class="continue next"><button class="muted" type="button" name="button">Next &#8594;</button></a>
                  </div>
                </div>
            </div>

        </main>
    </div>

</div>
