            <div class="spacer2">
            </div>
            <div class="row">
                <div class="col-md-3 no-pad">
                    <div id="side-navs-fixed">
                      <nav class="side-nav">
                        <img class="img-responsive patient1" src="images/patient_headshot3_cropped.jpg" alt="" />
                        <ul class="complete-side">
                          <li><span class="number-gray">No. 01</span></li>
                          <li class="pink-text">Mammograms</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
                        </ul>
                        <div class="background-pink">
                          <ul>
                            <li><span class="white">No. 02</span></li>
                            <li>Biopsy</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
                          </ul>
                        </div>
                        <div class="row next-steps">

                            <div class="row breadcrumb biopsy">
                              <ul class="ul-fix">
                                <li class="first-step completed"><span class="dot completed"></span></li>
                                <li class="second-step completed"><span class="dot completed"></span></li>
                                <li class="third-step completed"><span class="dot completed"></span></li>
                                <li class="fourth-step completed"><span class="dot completed"></span></li>
                                <li class="fifth-step completed"><span class="dot completed"></span></li>
                                <li class="6th-step completed"><span class="dot completed"></span></li>
                                <li class="7th-step completed"><span class="dot completed"></span></li>
                                <li class="8th-step active"><span class="dot active"><img src="images/hotspot.png" class="hotspot" alt="hotspot" /></span><span class="dot active pulse"></span></li>

                              </ul>
                            </div>

                          <ul>
                            <li><span>No. 03</span></li>
                            <li class="border-bottom">Molecular Testing</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
                          </ul>
                          <ul>
                            <li><span>No. 04</span></li>
                            <li>Recommendations</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
                          </ul>
                        </div>
                      </nav>

                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1 top-quote">
                  <blockquote>
                Let’s evaluate the pathology report from Velma’s right breast lumpectomy.
                  </blockquote>
                  <main id="content-main" class="row patient-1">

    <p>
Generally, the smaller the tumor, the better the patient’s chances for positive outcomes and the lower the chances of recurrence of breast cancer.<br><br>


<h2 class="table-hdr">Surgical Pathology Report - Preliminary</h2>
<div class="col-md-6 table-pad">
<p>Patient: Velma Belt<br>
Medical Record Number: 01234<br>
Patient age: 44 years old</td></p>
</div>
<div class="col-md-6 table-pad">
<p>Date of Procedure: July 1, 2016<br>
  Procedure: Right Breast<br>
  Lumpectomy, lymph node biopsy</p>
</div>
  <div class="col-md-12">
  <ul class="specs">
      <li>
        <strong>Specimen Size:</strong> Greatest dimension, 5cm</li>
      <li>
        <strong>Laterality:</strong> Right</li>
      <li><strong>Tumor size:</strong> 3.5cm</li>
      <li><strong>Tumor Grade:</strong> XYZ</li>
      <li><strong>Margins:</strong> no tumor at margin</li>
      <li><strong>Number of lymph nodes evaluated:</strong> 1</li>
      <li>
              <strong>Number of lymph nodes with cancer:</strong> 0</li>

  </ul>
</div>
<p>
<strong>Be sure to record this information in your Lab Handbook.
</strong>
    </p>


                        <div class="row continue-container background-nav-blue">
                            <div class="col-md-12 no-pad text-center">
                              <div class="col-md-4">
                                <a class="previous" href="/patient1view12" data-navigate="patient1view12"><button class="" type="button" name="button">&#8592; Previous</button></a>
                              </div>
                              <div class="col-md-4 line-across">

                              </div>
                              <div class="col-md-4 col-md-offset-4">


                                <!-- Button trigger modal -->
                                <a class="continue next"><button type="button"data-toggle="modal" data-target="#myModal"  name="button">Next &#8594;</button></a>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-body">
                                      <h2><span class="pink-hl">Slide 1 </span>contains abnormal cells from your patient's biopsy. Slide 2 contains normal cells.</h2>
                                      </div>
                                      <div class="modal-footer background-nav-blue">
                                        <a href="/patient1view14" data-navigate="patient1view14" class="continue"><button id="next-page" type="button" data-dismiss="modal" name="button">Continue</button></a>

                                      </div>
                                    </div>
                                  </div>
                                </div>


                              </div>
                            </div>
                        </div>

                    </main>
                </div>

            </div>
