<div class="spacer2">
</div>
<div class="row">
    <div class="col-md-3 no-pad">
        <div id="side-navs-fixed">
          <nav class="side-nav">
            <img class="img-responsive patient1" src="images/patient_headshot3_cropped.jpg" alt="Velma Belt" />
            <ul class="complete-side">
              <li><span class="number-gray">No. 01</span></li>
              <li class="pink-text">Mammograms</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
            </ul>

              <ul class="complete-side">
                <li><span class="number-gray">No. 02</span></li>
                <li class="pink-text">Biopsy</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
              </ul>


            <div class="background-pink">
              <ul>
                <li><span class="white">No. 03</span></li>
                <li class="border-bottom">Molecular Testing</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
              </ul>
            </div>
            <div class="row next-steps">

                <div class="row breadcrumb steps-13">
                <ul class="ul-fix">
                    <li class="1st-step completed"><span class="dot completed"></li>
                    <li class="2nd-step completed"><span class="dot completed"></span></li>
                    <li class="3rd-step completed"><span class="dot completed"></span></li>
                    <li class="4th-step completed"><span class="dot completed"></span></li>
                    <li class="5th-step completed"><span class="dot completed"></span></li>
                    <li class="6th-step completed"><span class="dot completed"></span></li>
                    <li class="7th-step active"><span class="dot active"><img src="images/hotspot.png" class="hotspot" alt="hotspot" /></span><span class="dot active pulse"></span></li>
                    <li class="8th-step "><span class="dot "></span></li>
                    <li class="9th-step "><span class="dot "></span></li>
                    <li class="10th-step"><span class="dot"></span></li>
                    <li class="11th-step"><span class="dot"></span></li>
                    <li class="12th-step"><span class="dot"></span></li>
                  </ul>
                </div>
              <ul>
                <li><span>No. 04</span></li>
                <li>Recommendations</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
              </ul>
            </div>
          </nav>

        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 top-quote">
      <blockquote>
The <span class="pink-hl">OncoType DX® Test</span> helps determine if a patient will benefit from chemotherapy as well as hormone blocking therapy.
       </blockquote>
        <main id="content-main" class="row patient-1">
<p>
If a patient has an ER positive tumor, HER2 is not amplified, and no lymph nodes are involved, an OncoType DX® Test is needed.
This test is based on the amount genes are expressed. Gene expression is the observed product of a specific gene (mRNA). Abnormal gene expression in cancer cells may be due to DNA mutations.
The OncoType DX® Test gives information about prognosis (how likely the tumor will spread to other parts of the body).  It also helps physicians determine whether patients with early-stage invasive breast cancer will benefit from chemotherapy (in addition to hormone blocking therapy or hormone blocking therapy alone).


</p>


            <div class="row continue-container background-nav-blue">
                <div class="col-md-12 no-pad text-center">
                  <div class="col-md-4">
                    <a data-navigate="patient1view28" class="previous"><button class="" type="button" name="button">&#8592; Previous</button></a>
                  </div>
                  <div class="col-md-4 line-across">

                  </div>
                  <div class="col-md-4">
                    <a data-navigate="patient1view30"  class="continue next"><button class="" type="button" name="button">Next &#8594;</button></a>
                  </div>
                </div>
            </div>

        </main>
    </div>

</div>
