


      <div class="spacer2">
      </div>
      <div class="row">
          <div class="col-md-3 no-pad">
              <div id="side-navs-fixed">
                  <nav class="side-nav">
                    <img class="img-responsive patient1" src="images/patient_headshot3_cropped.jpg" alt="" />
                      <ul class="complete-side">
                          <li>
                              <span class="number-gray">No. 01</span>
                          </li>
                          <li class="pink-text">Mammograms</li>
                          <!-- TODO - MAKE THIS TIED TO COLLECTION -->
                      </ul>
                      <div class="background-pink">
                          <ul>
                              <li>
                                  <span class="white">No. 02</span>
                              </li>
                              <li>Biopsy</li>
                              <!-- TODO - MAKE THIS TIED TO COLLECTION -->
                          </ul>
                      </div>
                      <div class="row next-steps">

                          <div class="row breadcrumb biopsy">
                              <ul class="ul-fix">
                                <li class="first-step completed"><span class="dot completed"></span></li>
                                <li class="second-step completed"><span class="dot completed"></span></li>
                                <li class="third-step completed"><span class="dot completed"></span></li>
                                <li class="fourth-step active"><span class="dot active"><img src="images/hotspot.png" class="hotspot" alt="hotspot" /></span><span class="dot active pulse"></span></li>
                                <li class="fifth-step"><span class="dot"></span></li>
                                <li class="6th-step "><span class="dot"></span></li>
                                <li class="7th-step "><span class="dot "></span></li>
                                <li class="8th-step "><span class="dot "></span></li>
                              </ul>
                          </div>

                          <ul>
                              <li>
                                  <span>No. 03</span>
                              </li>
                              <li class="border-bottom">Molecular Testing</li>
                              <!-- TODO - MAKE THIS TIED TO COLLECTION -->
                          </ul>
                          <ul>
                              <li>
                                  <span>No. 04</span>
                              </li>
                              <li>Recommendations</li>
                              <!-- TODO - MAKE THIS TIED TO COLLECTION -->
                          </ul>
                      </div>
                  </nav>

              </div>
          </div>
          <div class="col-md-6 col-md-offset-1 top-quote">
            <blockquote>
              Velma had a right breast biopsy. Let’s evaluate the tissue.
            </blockquote>
              <main id="content-main" class="row patient-1">

                <figure>
                  <img class="no-pad" src="images/microscope8.jpg" alt="" />
                </figure>
                <p class="p-top">Does Velma's breast tissue sample indicate the presence of cancer? Hover over the tissue samples to magnify.
                            </p>
                     <figure>
                       <img class="magnify one-hun" class="zoom" data-magnify-src="images/HE_Invasive_Velma.jpg" src="images/HE_Invasive_Velma.jpg" alt="cell biopsy slide 3" />


                     </figure>
                     <br>
                     <div class="row m-bottom">


                     <div class="col-md-3 yes-no col-sm-offset-2-5">
                       <a  class="continue next y-n"><button type="button" data-toggle="modal" data-backdrop="static" data-target="#myModal2"  name="button">No <span class="check-mark">&#x2717;</span></button></a>
                       <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                         <div class="modal-dialog" role="document">
                           <div class="modal-content">
                             <div class="modal-body">
                             <h2>Incorrect. This tissue sample does not contain cancer cells. </h2><br>
                               <p>
                                 The cells have a disordered appearance with large, irregular, different shapes and sizes with large nuclei. They have no duct structures and stain more purple than pink.
                               </p>
                             </div>
                             <div class="modal-footer background-nav-blue">
                               <a href="/patient1view10" data-navigate="patient1view10" class="continue"><button id="next-page" type="button"  name="button">Continue</button></a>

                             </div>
                           </div>
                         </div>
                       </div>
                     </div>
                     <div style="margin-left: 25px;" class="col-md-3 yes-no">
                       <a  class="continue next y-n"><button  type="button"data-toggle="modal" data-backdrop="static" data-target="#myModal"  name="button">Yes <span class="check-mark">&#x2713;</span></button></a>

                       <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                         <div class="modal-dialog" role="document">
                           <div class="modal-content">
                             <div class="modal-body">
                             <h2><span class="pink-hl">Correct</span>. This tissue sample contains cancer cells. </h2><br>
                               <p>The cells have a disordered appearance with large, irregular, different shapes and sizes with large nuclei. They have no duct structures and stain more purple than pink.</p>
                             </div>
                             <div class="modal-footer background-nav-blue">
                               <a href="/patient1view10" data-navigate="patient1view10" class="continue"><button id="next-page" type="button"  name="button">Continue</button></a>

                             </div>
                           </div>
                         </div>
                       </div>

                     </div>
                     </div>
                     <p class="p-top">
                       Be sure to record this information in your Lab Handbook.
                     </p>
                  <div class="row continue-container background-nav-blue">
                      <div class="col-md-12 no-pad text-center">
                          <div class="col-md-4">
                              <a data-navigate="patient1view8" class="previous">
                                  <button class="" type="button" name="button">&#8592; Previous</button>
                              </a>
                          </div>
                          <div class="col-md-4 line-across">

                          </div>
                          <div class="col-md-4">
                              <a href="/patient1view10" data-navigate="patient1view10" class="continue next">
                                  <button type="button" class="muted" name="button">Next &#8594;</button>
                              </a>
                          </div>
                      </div>
                  </div>

              </main>
          </div>

      </div>
