<div class="spacer2"></div>
<div class="row">
  <div class="col-sm-3 no-pad">
    <div id="side-navs-1">
      <nav class="side-nav background-pink">
        <img class="img-responsive" src="images/patient_headshot3_cropped.jpg" alt="" />
        <ul>
          <li><span class="white">No.01</span></li>
          <li>Mammograms</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
        </ul>
        <div class="row breadcrumb">
          <ul>
            <li class="first-step completed"><span class="dot completed"></span></li>
            <li class="second-step completed"><span class="dot completed"></span></li>
            <li class="third-step active"><span class="dot active"><img src="images/hotspot.png" class="hotspot" alt="hotspot" /></span><span class="dot active pulse"></span></li>
            <li class="fourth-step"><span class="dot"></span></li>
            <li class="fifth-step mammo"><span class="dot"></span></li>
          </ul>
        </div>
        <div class="row next-steps">
          <ul>
            <li><span>No.02</span></li>
            <li class="border-bottom">Biopsy</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>
          <ul>
            <li><span>No.03</span></li>
            <li class="border-bottom">Gene Expression</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>
          <ul>
            <li><span>No.04</span></li>
            <li>Conclusions</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>
        </div>
      </nav>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">
    <blockquote>
      Mammograms can quickly reveal critical information about a patient’s breast tissue.
    </blockquote>
  <main id="content-main" class="row patient-1">

    <p>Here is a normal mammogram.<br>
&mdash;Note that there are dark and light areas that represent normal breast tissue.

    </p>
       <figure>
         <img src="images/breast_scan3.jpg" alt="" />
       </figure>
        <p>
        Here is an abnormal mammogram.<br>
&mdash;Note that the red circled area contains an abnormally shaped or new abnormal area of white tissue.  Not all abnormal tissue is seen on a mammogram is cancerous.

        </p>
        <figure>
         <img src="images/breast_scan2.jpg" alt="" />
        </figure>
        <div class="row continue-container background-nav-blue">
            <div class="col-md-12 no-pad text-center">
              <div class="col-md-4">
                <a data-navigate="patient1view2" class="previous"><button class="" type="button" name="button">Previous</button></a>
              </div>
              <div class="col-md-4 line-across">

              </div>
              <div class="col-md-4">
                <a data-navigate="patient1view4" class="continue next"><button type="button" name="button">Next &#8594;</button></a>
              </div>
            </div>
        </div>
  </main>
</div>
</div>
