<div class="spacer2">
</div>
<div class="row">
    <div class="col-md-3 no-pad">
        <div id="side-navs-fixed">
          <nav class="side-nav">
            <img class="img-responsive patient1" src="images/patient_headshot3_cropped.jpg" alt="Velma Belt" />
            <ul class="complete-side">
              <li><span class="number-gray">No. 01</span></li>
              <li class="pink-text">Mammograms</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
            </ul>

              <ul class="complete-side">
                <li><span class="number-gray">No. 02</span></li>
                <li class="pink-text">Biopsy</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
              </ul>


            <div class="background-pink">
              <ul>
                <li><span class="white">No. 03</span></li>
                <li class="border-bottom">Molecular Testing</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
              </ul>
            </div>
            <div class="row next-steps">

                <div class="row breadcrumb steps-13">
                  <ul class="ul-fix">
                      <li class="1st-step completed"><span class="dot completed"></li>
                      <li class="2nd-step completed"><span class="dot completed"></span></li>
                      <li class="3rd-step completed"><span class="dot completed"></span></li>
                      <li class="4th-step completed"><span class="dot completed"></span></li>
                      <li class="5th-step completed"><span class="dot completed"></span></li>
                      <li class="6th-step completed"><span class="dot completed"></span></li>
                      <li class="7th-step completed"><span class="dot completed"></span></li>
                      <li class="8th-step completed"><span class="dot completed"></span></li>
                      <li class="9th-step completed"><span class="dot completed"></span></li>
                      <li class="10th-step completed"><span class="dot completed"></span></li>
                      <li class="11th-ste completed"><span class="dot completed"></span></li>
                      <li class="12th-step completed"><span class="dot active"></span><span class="dot active pulse"></span></li>
                      <li class="13th-ste "><span class="dot "></span></li>
                      <li class="14th-ste "><span class="dot "></span></li>
                      <li class="15th-ste "><span class="dot "></span></li>

                    </ul>
                </div>
              <ul>
                <li><span>No. 04</span></li>
                <li>Recommendations</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
              </ul>
            </div>
          </nav>

        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 top-quote">
      <blockquote>
Velma’s HER2 FISH Test results are in!
      </blockquote>
        <main id="content-main" class="row patient-1 svg-test">

<p class="pad-50">
  Click on the microscope to analyze Velma’s HER2 FISH test and calculate the ratio of red dots to green dots.
Should the test results be reported as amplified or not amplified?<br><br>


</p>


            <div class="svg-container">

                <img class="pro-fix" src="images/Microscope_GreenRedDots_6_6.jpg" alt="Microscopic view of cells showing 3 HER2 dots and 2 CEP17 dots" />


            </div>
            <div class="row m-bottom con-fix">


            <div class="col-md-5 yes-no col-sm-offset-1-5">
              <a  class="continue next y-n"><button type="button" data-toggle="modal" data-backdrop="static" data-target="#myModal2"  name="button">Amplified</button></a>
              <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                    <h2>That is incorrect. The HER2 FISH ratio is 1.5, so HER2 is not amplified.</h2>
                    </div>
                    <div class="modal-footer background-nav-blue">
                      <a data-navigate="patient1view29" class="continue"><button id="next-page" type="button"  name="button">Continue</button></a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-left: 25px;" class="col-md-5 yes-no">
              <a  class="continue next y-n"><button  type="button"data-toggle="modal" data-backdrop="static" data-target="#myModal"  name="button">Not Amplified</button></a>

              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                    <h2><span class="pink-hl">Correct</span>. The HER2 FISH ratio is 1.5, so HER2 is not amplified. This indicates that HER2-targeted therapy should not be recommended as part of Velma’s treatment.</h2>
                    </div>
                    <div class="modal-footer background-nav-blue">
                      <a data-navigate="patient1view29" class="continue"><button id="next-page" type="button" class="muted"  name="button">Continue</button></a>

                    </div>
                  </div>
                </div>
              </div>

            </div>
            </div>
            <p class=" pad50">
              <strong>Be sure to record the results in your Lab Handbook.
              </strong>
            </p>
            <div class="row continue-container background-nav-blue">
                <div class="col-md-12 no-pad text-center">
                  <div class="col-md-4">
                    <a data-navigate="patient1view27" class="previous"><button class="" type="button" name="button">&#8592; Previous</button></a>
                  </div>
                  <div class="col-md-4 line-across">

                  </div>
                  <div class="col-md-4">
                    <a class="continue next"><button class="" type="button" name="button">Next &#8594;</button></a>
                  </div>
                </div>
            </div>

        </main>
    </div>

</div>
