<div class="spacer2"></div>
<div class="row">
  <div class="col-md-3 no-pad">
    <div id="side-navs-fixed">
      <nav class="side-nav background-pink">
        <img class="img-responsive patient1" src="images/patient_headshot3_cropped.jpg" alt="" />
        <ul>
          <li><span class="white">No. 01</span></li>
          <li>Mammograms</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
        </ul>
        <div class="row breadcrumb">
        <ul class="ul-fix">
            <li class="first-step completed"><span class="dot completed"></span></li>
            <li class="second-step completed"><span class="dot completed"></span></li>
            <li class="third-step completed"><span class="dot completed"></span></li>
            <li class="fourth-step active"><span class="dot active"><img src="images/hotspot.png" class="hotspot" alt="hotspot" /></span><span class="dot active pulse"></span></li>
            <li class="fifth-step mammo"><span class="dot"></span></li>
          </ul>
        </div>
        <div class="row next-steps">
          <ul>
            <li><span>No. 02</span></li>
            <li class="border-bottom">Biopsy</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>
          <ul>
            <li><span>No. 03</span></li>
            <li class="border-bottom">Molecular Testing</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>
          <ul>
            <li><span>No. 04</span></li>
            <li>Recommendations</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>
        </div>
      </nav>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">
    <blockquote>
    Here is Velma's mammogram.
    </blockquote>
    <main id="content-main" class="row patient-1 svg-test">

      <p>
        Review Velma’s mammogram and click on the area that shows an abnormality. If necessary, click Previous to review the normal mammogram.
      </p>
      <div class="svg-container">
        <div class="svg-text">Click the area that shows an abnormality.</div>

      <?xml version="1.0" encoding="utf-8"?>
<svg style="cursor:pointer;" version="1.1" id="mammo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 810 810" style="enable-background:new 0 0 810 810;" xml:space="preserve">
<style type="text/css">
	.st0{opacity:0.35;}
	.st1{fill:#FFFFFF;}
	.st2{fill:none;}
</style>
<image style="width:100%;height:100%;position:relative;top:0;left:0;bottom:0;right:0;overflow:visible;enable-background:new" width="810" height="810" xlink:href="images/Mammogram_Right_Abnormal_Patient1-Velma.jpg" >
</image>
<ellipse class="st0" cx="606.7" cy="656.5" rx="68.1" ry="68.8"/>
<path fill="#FFFFFF" class="circle" d="M606.7,732.1c-41.4,0-74.9-33.9-74.9-75.6s33.6-75.6,74.9-75.6s74.9,33.9,74.9,75.6l0,0
	C681.6,698.2,648,732.1,606.7,732.1z M606.7,592c-35.3,0-63.8,28.9-63.8,64.4s28.6,64.4,63.8,64.4c35.3,0,63.8-28.9,63.8-64.4l0,0
	C670.5,620.9,641.9,592.1,606.7,592z"/>
<path fill="#FFFFFF" class="circle2" d="M527.7,576.8l8.5,8.6c38.9-39.3,102-39.3,140.8,0s38.9,102.9,0,142.2l8.5,8.6c42.9-44.7,41.9-116-2.4-159.3
	C639.9,534.4,571,534.4,527.7,576.8z"/>
<polygon fill="none" class="cancer" points="531.7,717 527.7,665 542.8,607 580,578 619,566 654,573 688.1,598.6 706,632 711,680 670.5,696.1
	626.6,717.7 577,739 559,739 "/>
</svg>
<div class="modal fade" id="modalCorrect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2><span class="pink-hl">Correct!</span> The area you clicked on indicates abnormal breast tissue.</h2>
      </div>
      <div class="modal-footer background-nav-blue">
        <a href="/patient1view5" data-navigate="patient1view5" class="continue"><button id="next-page" type="button" data-dismiss="modal" name="button">Continue</button></a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalIncorrect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Incorrect. The area you clicked on indicates normal breast tissue. Please try again</h2>
      </div>
      <div class="modal-footer background-nav-blue">
        <a class="continue-2 close-modal"><button id="next-page" type="button" data-dismiss="modal" name="button">Try Again</button></a>
      </div>
    </div>
  </div>
</div>

      </div>
          <div class="row continue-container background-nav-blue">
              <div class="col-md-12 no-pad text-center">
                <div class="col-md-4">
                  <a class="previous" href="/patient1view3" data-navigate="patient1view3"><button class="" type="button" name="button">&#8592; Previous</button></a>
                </div>
                <div class="col-md-4 line-across">

                </div>
                <div class="col-md-4">


                  <!-- Button trigger modal -->
                  <a class="continue next gray"><button class="muted gray" type="button" name="button">Submit &#8594;</button></a>

                  <!-- Modal -->
                  <div class="modal fade" id="modalCorrect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <h2><span class="pink-hl">Correct!</span> The area you clicked on indicates abnormal breast tissue.</h2>
                        </div>
                        <div class="modal-footer background-nav-blue">
                          <a href="/patient1view5" data-navigate="patient1view5" class="continue"><button id="next-page" type="button" data-dismiss="modal" name="button">Continue</button></a>

                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
          </div>

    </main>
  </div>

</div>
