<div class="spacer2"></div>
<div class="row">
  <div class="col-md-3 no-pad">
    <div id="side-navs-fixed">
      <nav class="side-nav background-pink">
        <img class="img-responsive" src="images/patient_headshot3_cropped.jpg" alt="" />
        <ul>
          <li><span class="white">No.01</span></li>
          <li>Mammograms</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
        </ul>
        <div class="row breadcrumb">
          <ul>
            <li class="first-step completed"><span class="dot completed"></span></li>
            <li class="second-step completed"><span class="dot completed"></span></li>
            <li class="third-step completed"><span class="dot completed"></span></li>
            <li class="fourth-step completed"><span class="dot completed"></span></li>
            <li class="fifth-step active mammo"><span class="dot active"><img src="images/hotspot.png" class="hotspot" alt="hotspot" /></span><span class="dot active pulse"></span></li>
          </ul>
        </div>
        <div class="row next-steps">
          <ul>
            <li><span>No.02</span></li>
            <li class="border-bottom">Biopsy</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>
          <ul>
            <li><span>No.03</span></li>
            <li class="border-bottom">Molecular Testing</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>
          <ul>
            <li><span>No.04</span></li>
            <li>Treatment Recommendations</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>
        </div>
      </nav>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">
    <blockquote>
      It is important to consider the size of an abnormality when evaluating the mammogram.
    </blockquote>
    <main id="content-main" class="row patient-1">

      <p>
      Look at the abnormality in Velma’s mammogram.  Which of the objects is closest to the size of the  abnormality?

      </p>
      <figure>
        <img src="images/p1screen3.png" alt="" />
      </figure>
      <p>
        Select the object that is closet to the size of the abnormality.
      </p>

<svg version="1.1" id="pick-a-size" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100%" height="100%" viewBox="-14 283 639 225" enable-background="new -14 283 639 225" xml:space="preserve">
<image overflow="visible" enable-background="new" width="639" height="225" xlink:href="images/pick-a-size.png"  transform="matrix(1 0 0 1 -14 283)">
</image>
<polygon class="size-1" points="105.06,182.87 112.35,177.52 115.75,168.29 112.83,158.09 107,152.26 102.14,148.37 94.85,148.37
	85.13,154.2 81.73,164.4 83.68,175.09 90.96,180.92 "/>
<polygon class="size-2" points="225.68,190.34 214.63,182.05 208,171 208,150.55 211.87,130.11 223.47,116.29 234.53,111.87
	239.5,111.87 245.03,127.89 250,147.79 247.24,170.45 241.16,180.39 232.87,188.68 "/>
<polygon class="size-3" points="381.02,188.26 377.31,184.55 369.36,180.84 358.23,174.48 352.4,166 346.57,142.15 346.57,124.13
	356.11,107.7 363.8,98.16 378.37,92.86 395.33,98.16 411.23,113 416,120.42 416,142.68 416,158.05 408.05,170.24 400.63,178.19
	390.56,181.37 385.79,184.55 "/>
<polygon class="st0" points="562.42,188.26 553.3,183.43 541.5,181.28 527.02,158.22 518.97,139.98 518.97,123.88 525.41,101.35
	531.31,90.09 542.04,80.97 550.08,76.67 558.13,73.46 564.57,71.31 573.15,74.53 577.44,78.82 593,86.87 601.58,97.06
	608.56,114.76 608.56,138.9 600.51,157.14 590.85,170.02 582.27,178.6 574.76,182.36 569.93,186.65 "/>

<g class="size-1-active">
	<path fill="#DD307B" d="M507.983,467.996c-35.819,0-64.855-29.037-64.855-64.856c0-35.82,29.036-64.856,64.855-64.856
		c35.817,0,64.855,29.037,64.855,64.856l0,0C572.812,438.942,543.787,467.971,507.983,467.996z M507.983,347.891
		c-30.518,0-55.249,24.736-55.249,55.249c0,30.512,24.731,55.248,55.249,55.248c30.511,0,55.249-24.736,55.249-55.248l0,0
		C563.202,372.638,538.484,347.921,507.983,347.891z"/>
	<path fill="#DD307B" d="M439.68,334.835l7.364,7.364c33.657-33.658,88.222-33.658,121.88,0c33.656,33.657,33.656,88.222,0,121.878
		l7.363,7.365c37.156-38.294,36.237-99.452-2.057-136.608C536.756,298.465,477.161,298.465,439.68,334.835z"/>
</g>
<g class="size-2-active">
	<path fill="#DD307B" d="M304.504,467.396c-30.356,0-54.963-24.606-54.963-54.964c0-30.354,24.606-54.961,54.963-54.961
		c30.354,0,54.963,24.607,54.963,54.961l0,0C359.444,442.775,334.846,467.374,304.504,467.396z M304.504,365.612
		c-25.861,0-46.821,20.963-46.821,46.82c0,25.857,20.96,46.821,46.821,46.821c25.856,0,46.82-20.964,46.82-46.821l0,0
		C351.298,386.585,330.352,365.638,304.504,365.612z"/>
	<path fill="#DD307B" d="M246.619,354.548l6.241,6.241c28.522-28.523,74.764-28.523,103.288,0
		c28.522,28.523,28.522,74.764,0,103.288l6.24,6.24c31.487-32.451,30.71-84.28-1.741-115.77
		C328.887,323.727,278.383,323.727,246.619,354.548z"/>
</g>
<g class="size-3-active">
	<path fill="#DD307B" d="M160.503,456.842c-20.521,0-37.154-16.633-37.154-37.152c0-20.521,16.634-37.154,37.154-37.154
		c20.519,0,37.154,16.634,37.154,37.154l0,0C197.643,440.199,181.014,456.829,160.503,456.842z M160.503,388.038
		c-17.482,0-31.65,14.171-31.65,31.649c0,17.479,14.168,31.65,31.65,31.65c17.479,0,31.65-14.171,31.65-31.65l0,0
		C192.136,402.216,177.977,388.056,160.503,388.038z"/>
	<path fill="#DD307B" d="M121.374,380.559l4.219,4.219c19.281-19.282,50.54-19.282,69.821,0c19.281,19.281,19.281,50.54,0,69.821
		l4.219,4.22c21.286-21.938,20.759-56.974-1.177-78.259C176.986,359.724,142.846,359.724,121.374,380.559z"/>
</g>
<g class="size-4-active">
	<path fill="#DD307B" d="M74.575,463.297c-17.54,0-31.756-14.217-31.756-31.756s14.217-31.757,31.756-31.757
		c17.538,0,31.756,14.218,31.756,31.757l0,0C106.318,449.072,92.105,463.285,74.575,463.297z M74.575,404.489
		c-14.942,0-27.053,12.11-27.053,27.052c0,14.939,12.11,27.052,27.053,27.052c14.939,0,27.051-12.111,27.051-27.052l0,0
		C101.611,416.606,89.509,404.504,74.575,404.489z"/>
	<path fill="#DD307B" d="M41.13,398.097l3.605,3.605c16.48-16.479,43.197-16.479,59.677,0c16.48,16.479,16.48,43.197,0,59.678
		l3.606,3.605c18.193-18.75,17.743-48.695-1.006-66.89C88.662,380.288,59.482,380.288,41.13,398.097z"/>
</g>
</svg>

<div class="row continue-container background-nav-blue">
    <div class="col-md-12 no-pad text-center">
      <div class="col-md-4">
        <a class="previous" href="/patient1view4" data-navigate="patient1view4"><button class="" type="button" name="button">Previous</button></a>
      </div>
      <div class="col-md-4 line-across"></div>
      <div class="col-md-4">
        <!-- Button trigger modal -->
        <a class="continue next"><button type="button muted"data-toggle="modal" data-target="#myModal"  name="button">Next &#8594;</button></a>
        <!-- Modal -->
        <div class="modal fade" id="modalCorrect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h2>Correct! Yes, it is about the size of a walnut.</h2>
              </div>
              <div class="modal-footer background-nav-blue">
                <a href="/patient1view6" data-navigate="patient1view6" class="continue"><button id="next-page" type="button" data-dismiss="modal" name="button">Next &#8594;</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modalIncorrect1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h2>Incorrect! Please try again.</h2>
              </div>
              <div class="modal-footer background-nav-blue">
                <a class="continue close-modal"><button id="next-page" type="button" data-dismiss="modal" name="button">Next &#8594;</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modalIncorrect2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h2>Incorrect! Please try again.</h2>
              </div>
              <div class="modal-footer background-nav-blue">
                <a class="continue close-modal"><button id="next-page" type="button" data-dismiss="modal" name="button">Next &#8594;</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modalIncorrect3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h2>Incorrect! Please try again.</h2>
              </div>
              <div class="modal-footer background-nav-blue">
                <a class="continue close-modal"><button class="muted" id="next-page" type="button" data-dismiss="modal" name="button">Next &#8594;</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

    </main>
  </div>

</div>
