

            <div class="spacer2">
            </div>
            <div class="row">
                <div class="col-md-3 no-pad">
                    <div id="side-navs-fixed">
                      <nav class="side-nav">
                        <img class="img-responsive patient1" src="images/patient_headshot3_cropped.jpg" alt="" />
                        <ul class="complete-side">
                          <li><span class="number-gray">No.01</span></li>
                          <li class="pink-text">Mammograms</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
                        </ul>
                        <div class="background-pink">
                          <ul>
                            <li><span class="white">No.02</span></li>
                            <li>Biopsy</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
                          </ul>
                        </div>
                        <div class="row next-steps">

                            <div class="row breadcrumb biopsy">
                              <ul>
                                <li class="first-step completed"><span class="dot completed"></span></li>
                                <li class="second-step completed"><span class="dot completed"></span></li>
                                <li class="third-step completed"><span class="dot completed"></span></li>
                                <li class="fourth-step completed"><span class="dot completed"></span></li>
                                <li class="fifth-step completed"><span class="dot completed"></span></li>
                                <li class="6th-step completed"><span class="dot active"><img src="images/hotspot.png" class="hotspot" alt="hotspot" /></span><span class="dot active pulse"></span></li>
                                <li class="7th-step "><span class="dot"></span></li>

                                <li class="8th-step "><span class="dot "></span></li>

                              </ul>
                            </div>

                          <ul>
                            <li><span>No.03</span></li>
                            <li class="border-bottom">Molecular Testing</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
                          </ul>
                          <ul>
                            <li><span>No.04</span></li>
                            <li>Recommendations</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
                          </ul>
                        </div>
                      </nav>




                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1 top-quote">

                    <main id="content-main" class="row patient-1 svg-test">
                      <blockquote>
                          Velma had a right breast lumpectomy. Let's evaluate the tissue.
                      </blockquote>
                        <ul class="specs">
                            <li>
                                <strong>Specimen Type:</strong> Right breast lumpectomy, lymph nodes</li>
                            <li>
                                <strong>Specimen Size:</strong> Greatest dimension, 5cm</li>
                            <li>
                                <strong>Laterality:</strong> Right</li>
                            <li>
                                <strong>Tumor Size:</strong> 3.5cm</li>
                        </ul>
                        <iframe id="my_typeform" src="https://karson3.typeform.com/to/AypoqR">

                        </iframe>

                        <div class="row continue-container background-nav-blue">
                            <div class="col-md-12 no-pad text-center">
                              <div class="col-md-4">
                                <a class="previous" href="/patient1view10" data-navigate="patient1view10"><button class="" type="button" name="button">&#8592; Previous</button></a>
                              </div>
                              <div class="col-md-4 col-md-offset-4">


                                <!-- Button trigger modal -->
                                <a class="continue"><button type="button"data-toggle="modal" data-target="#myModal"  name="button">Next &#8594;</button></a>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-body">
                                      <h2><span class="pink-hl">Slide 1 </span>contains abnormal cells from your patient's biopsy. Slide 2 contains normal cells.</h2>
                                      </div>
                                      <div class="modal-footer background-nav-blue">
                                        <a href="/patient1view12" data-navigate="patient1view12" class="continue"><button id="next-page" type="button" data-dismiss="modal" name="button">Next &#8594;</button></a>

                                      </div>
                                    </div>
                                  </div>
                                </div>


                              </div>
                            </div>
                        </div>

                    </main>
                </div>

            </div>
