  <div class="spacer2"></div>
  <div class="row">
    <div class="col-sm-3 no-pad">
      <div id="side-navs-1">
        <nav class="side-nav">
          <img class="img-responsive" src="images/patient_headshot3_cropped.jpg" alt="" />
          <ul class="complete-side">
            <li><span class="number-gray">No.01</span></li>
            <li class="pink-text">Mammograms</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>

            <ul class="complete-side">
              <li><span class="number-gray">No.02</span></li>
              <li class="pink-text">Biopsy</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
            </ul>


          <div class="background-pink">
            <ul>
              <li><span class="white">No.03</span></li>
              <li class="border-bottom">Molecular Testing</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
            </ul>
          </div>
          <div class="row next-steps">

              <div class="row breadcrumb steps-13">
                <ul>
                  <li class="1st-step completed"><span class="dot completed"></li>
                  <li class="2nd-step completed"><span class="dot completed"></span></li>
                  <li class="3rd-step completed"><span class="dot completed"></span></li>
                  <li class="4th-step active"><span class="dot active"><img src="images/hotspot.png" class="hotspot" alt="hotspot" /></span><span class="dot active pulse"></span></li>
                  <li class="5th-step"><span class="dot"></span></li>
                  <li class="6th-step "><span class="dot"></span></li>
                  <li class="7th-step "><span class="dot "></span></li>
                  <li class="8th-step "><span class="dot "></span></li>
                  <li class="9th-step "><span class="dot "></span></li>
                  <li class="10th-step"><span class="dot"></span></li>
                  <li class="11th-step"><span class="dot"></span></li>
                  <li class="12th-step"><span class="dot"></span></li>
                </ul>
              </div>
            <ul>
              <li><span>No.04</span></li>
              <li>Treatment Recommendations</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
            </ul>
          </div>
        </nav>

      </div>
    </div>
    <div class="col-md-6 col-md-offset-1 top-quote">
      <blockquote>
    The <span class="pink-hl">Estrogen Receptor (ER) Test</span> determines if the cells from the breast tissue have protein receptors for estrogen.     </blockquote>
    <main id="content-main" class="row patient-1">

      <h2>Conducting the ER test:</h2>
        <div class="svg-container">
          <img src="images/test_sample_and_gloved_hand2.jpg" alt="" />
            <div class="svg-text full">
                <p>
                    <strong>Step 1</strong>
  Tissue sections are cut, placed on a glass slide, and antibodies that bind to the ER protein are applied to the tissue.


                  </p>
                <span class="left-arrow"><a class="top-fix" data-navigate="patient1view18">&#8594;</a></span>

            </div>
        </div>

          <div class="row continue-container background-nav-blue">
              <div class="col-md-12 no-pad text-center">
                <div class="col-md-4">
                  <a data-navigate="patient1view16" class="previous"><button class="" type="button" name="button">Previous</button></a>
                </div>
                <div class="col-md-4 line-across">

                </div>
                <div class="col-md-4">
                  <a data-navigate="patient1view18" class="continue next"><button type="button" name="button">Next &#8594;</button></a>
                </div>
              </div>
          </div>
    </main>
  </div>
  </div>
