
<div class="spacer2"></div>
<div class="row">
  <div class="col-sm-3 no-pad">
    <div id="side-navs-1">


        <nav class="side-nav">
          <img class="img-responsive patient1" src="images/patient_headshot3_cropped.jpg" alt="Velma Belt" />
          <ul class="complete-side">
            <li><span class="number-gray">No. 01</span></li>
            <li class="pink-text">Mammograms</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>

            <ul class="complete-side">
              <li><span class="number-gray">No. 02</span></li>
              <li class="pink-text">Biopsy</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
            </ul>


          <div class="background-pink">
            <ul>
              <li><span class="white">No. 03</span></li>
              <li class="border-bottom">Molecular Testing</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
            </ul>
          </div>
          <div class="row next-steps">

              <div class="row breadcrumb steps-13">
              <ul class="ul-fix">
                  <li class="1st-step completed"><span class="dot completed"></li>
                  <li class="2nd-step completed"><span class="dot completed"></span></li>
                  <li class="3rd-step completed"><span class="dot completed"></span></li>
                  <li class="4th-step active"><span class="dot active"><img src="images/hotspot.png" class="hotspot" alt="hotspot" /></span><span class="dot active pulse"></span></li>
                  <li class="5th-step"><span class="dot"></span></li>
                  <li class="6th-step "><span class="dot"></span></li>
                  <li class="7th-step "><span class="dot "></span></li>
                  <li class="8th-step "><span class="dot "></span></li>
                  <li class="9th-step "><span class="dot "></span></li>
                  <li class="10th-step"><span class="dot"></span></li>
                  <li class="11th-step"><span class="dot"></span></li>
                  <li class="12th-step"><span class="dot"></span></li>
                </ul>
              </div>
            <ul>
              <li><span>No. 04</span></li>
              <li>Recommendations</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
            </ul>
          </div>
        </nav>


    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">
    <blockquote>
  Velma’s doctors have sent her tissue sample for ER testing.
  </blockquote>
  <main id="content-main" class="row patient-1 svg-test">

    <h2>Conducting the ER test:</h2>
      <div class="svg-container">
          <img class="magnify" class="zoom" data-magnify-src="images/test_sample_and_gloved_hand2.jpg" src="images/test_sample_and_gloved_hand2.jpg" alt="Pathologist views slide containing tissue sample" />
          <div class="svg-text full">
              <p>
                  <strong>Step 2:</strong>
A second antibody binds to the first and color develops where this antibody binds.


                </p>
              <a class="y-n continue next y-n left-arrow" href="/patient1view19" data-navigate="patient1view19"><span class="top-4">&#8594;</span></a>

          </div>
      </div>
        <div class="row continue-container background-nav-blue">
            <div class="col-md-12 no-pad text-center">
              <div class="col-md-4">
                <a data-navigate="patient1view17" class="previous"><button class="" type="button" name="button">&#8592; Previous</button></a>
              </div>
              <div class="col-md-4 line-across">

              </div>
              <div class="col-md-4">
                <a class="continue next"><button class="muted" type="button" name="button">Next &#8594;</button></a>
              </div>
            </div>
        </div>
  </main>
</div>
</div>
