<div class="spacer2">
</div>
<div class="row">
    <div class="col-md-3 no-pad">
        <div id="side-navs-fixed">
          <nav class="side-nav">
            <img class="img-responsive patient1" src="images/patient_headshot3_cropped.jpg" alt="Velma Belt" />
            <ul class="complete-side">
              <li><span class="number-gray">No. 01</span></li>
              <li class="pink-text">Mammograms</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
            </ul>

              <ul class="complete-side">
                <li><span class="number-gray">No. 02</span></li>
                <li class="pink-text">Biopsy</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
              </ul>


            <div class="background-pink">
              <ul>
                <li><span class="white">No. 03</span></li>
                <li class="border-bottom">Molecular Testing</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
              </ul>
            </div>
            <div class="row next-steps">

                <div class="row breadcrumb steps-13">
                  <ul class="ul-fix">
                      <li class="1st-step completed"><span class="dot completed"></li>
                      <li class="2nd-step completed"><span class="dot completed"></span></li>
                      <li class="3rd-step completed"><span class="dot completed"></span></li>
                      <li class="4th-step completed"><span class="dot completed"></span></li>
                      <li class="5th-step completed"><span class="dot completed"></span></li>
                      <li class="6th-step completed"><span class="dot completed"></span></li>
                      <li class="7th-step completed"><span class="dot completed"></span></li>
                      <li class="8th-step completed"><span class="dot completed"></span></li>
                      <li class="9th-step completed"><span class="dot completed"></span></li>
                      <li class="10th-step completed"><span class="dot completed"></span></li>
                      <li class="11th-step active"><span class="dot active"></span><span class="dot active pulse"></span></li>
                      <li class="12th-step"><span class="dot"></span></li>
                      <li class="13th-ste "><span class="dot "></span></li>
                      <li class="14th-ste "><span class="dot "></span></li>
                      <li class="15th-ste "><span class="dot "></span></li>

                    </ul>
                </div>
              <ul>
                <li><span>No. 04</span></li>
                <li>Recommendations</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
              </ul>
            </div>
          </nav>

        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 top-quote">
      <blockquote>
  Observe the fluorescence micrograph for HER2 FISH testing.        </blockquote>
        <main id="content-main" class="row patient-1 svg-test">

        <p class="pad50">
        Look at each cell nucleus (depicted in blue).<br><br>
Count the number of red dots (HER2) and the number of green dots (CEP17).<br><br>
If the red areas are at least or greater than 2 times the number of green areas, the test result for HER2 FISH is amplified.
In this example, the ratio of red dots to green dots is 6:2, or 3.  This means that HER2 is amplified.

</p>
            <div class="svg-container">
                <img src="images/Microscope_GreenRedDots_6_2.jpg" alt="Microscopic view of cells showing 6 HER2 dots and 2 CEP17 dots" />


            </div>

            <div class="row continue-container background-nav-blue">
                <div class="col-md-12 no-pad text-center">
                  <div class="col-md-4">
                    <a data-navigate="patient1view26" class="previous"><button class="" type="button" name="button">&#8592; Previous</button></a>
                  </div>
                  <div class="col-md-4 line-across">

                  </div>
                  <div class="col-md-4">
                    <a data-navigate="patient1view28" class="continue next"><button class="" type="button" name="button">Next &#8594;</button></a>
                  </div>
                </div>
            </div>

        </main>
    </div>

</div>
