<div class="spacer2"></div>
<div class="row">
  <div class="col-md-3 no-pad">
    <div id="side-navs-fixed">
      <nav class="side-nav background-pink">
        <img class="img-responsive" src="images/patient_headshot3_cropped.jpg" alt="" />
        <ul>
          <li><span class="white">No.01</span></li>
          <li>Mammograms</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
        </ul>
        <div class="row breadcrumb">
          <ul>
            <li class="first-step completed"><span class="dot completed"></span></li>
            <li class="second-step completed"><span class="dot completed"></span></li>
            <li class="third-step completed"><span class="dot completed"></span></li>
            <li class="fourth-step completed"><span class="dot completed"></span></li>
            <li class="fifth-step active mammo"><span class="dot active"><img src="images/hotspot.png" class="hotspot" alt="hotspot" /></span><span class="dot active pulse"></span></li>
          </ul>
        </div>
        <div class="row next-steps">
          <ul>
            <li><span>No.02</span></li>
            <li class="border-bottom">Biopsy</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>
          <ul>
            <li><span>No.03</span></li>
            <li class="border-bottom">Gene Expression</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>
          <ul>
            <li><span>No.04</span></li>
            <li>Conclusions</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>
        </div>
      </nav>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">

    <main id="content-main" class="row patient-1">
      <blockquote>
        It is important to consider the size of an abnormality when evaluating the mammogram.
      </blockquote>
      <p>
      Look at the abnormality in Velma’s mammogram.  Which of the objects is closest to the size of the  abnormality?

      </p>
      <figure>
        <img src="images/p1screen3.png" alt="" />
      </figure>

<svg version="1.1" id="pick-a-size" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100%" height="100%" viewBox="-14 283 639 225" enable-background="new -14 283 639 225" xml:space="preserve">
<image overflow="visible" enable-background="new    " width="639" height="225" xlink:href="images/pick-a-size.png"  transform="matrix(1 0 0 1 -14 283)">
</image>
<polyline class="size-1" fill="transparent"  points="78.25,442 83.75,440.75 88.25,436 89.5,432 89.5,426.75 86,422.25 81.75,420 76.25,420 70.75,420
	68,425.5 66.25,429.75 66.25,434.75 70.75,438.25 "/>
<polyline class="size-2" fill="transparent" points="153.75,445.25 162.25,440.5 166.75,432.75 169.75,422.75 171.5,407.25 166.25,402.25 162.625,396
	152.25,401.75 146.5,415 144.5,426.75 144.5,436.25 "/>
<polyline class="size-3" fill="transparent" points="305.5,458 315.25,459.5 325.25,455 335,449.75 339.75,441.5 341.75,432.25 341.75,421.75
	341.75,406.5 338.75,393.5 332.5,381.5 323.625,373 313.25,368.5 309.75,367 307.5,364.25 301.75,367.75 293.5,370 284.5,374.5
	276.5,381.75 271.75,393.5 268.5,403.5 265.25,413.25 265.25,424.75 267,434.5 272.75,445.25 279.75,453.25 290.25,457.75
	298.75,459.5 "/>
<polyline class="size-4" fill="transparent" points="497.75,466 506.25,464.75 510.75,460.5 515.25,463.25 521.75,460.5 534.75,456.5 547.75,444.25
	556.25,433.25 561,422.25 563.5,409.75 564.5,396 561.75,384.5 557,372 553.25,360.5 545.25,351.5 535.75,344.75 530,342
	522.5,337.75 519.5,339.25 517,335.75 510.25,338.25 503.25,337.5 497.75,340.25 489.75,345.25 480,351 469.25,363.25 462.5,373.75
	456.5,389.25 454.5,400.875 454.5,413 456.5,427 462,437.75 472.25,449.25 "/>
<g class="size-1-active">
	<path fill="#DD307B" d="M507.983,467.996c-35.819,0-64.855-29.037-64.855-64.856c0-35.82,29.036-64.856,64.855-64.856
		c35.817,0,64.855,29.037,64.855,64.856l0,0C572.812,438.942,543.787,467.971,507.983,467.996z M507.983,347.891
		c-30.518,0-55.249,24.736-55.249,55.249c0,30.512,24.731,55.248,55.249,55.248c30.511,0,55.249-24.736,55.249-55.248l0,0
		C563.202,372.638,538.484,347.921,507.983,347.891z"/>
	<path fill="#DD307B" d="M439.68,334.835l7.364,7.364c33.657-33.658,88.222-33.658,121.88,0c33.656,33.657,33.656,88.222,0,121.878
		l7.363,7.365c37.156-38.294,36.237-99.452-2.057-136.608C536.756,298.465,477.161,298.465,439.68,334.835z"/>
</g>
<g class="size-2-active">
	<path fill="#DD307B" d="M304.504,467.396c-30.356,0-54.963-24.606-54.963-54.964c0-30.354,24.606-54.961,54.963-54.961
		c30.354,0,54.963,24.607,54.963,54.961l0,0C359.444,442.775,334.846,467.374,304.504,467.396z M304.504,365.612
		c-25.861,0-46.821,20.963-46.821,46.82c0,25.857,20.96,46.821,46.821,46.821c25.856,0,46.82-20.964,46.82-46.821l0,0
		C351.298,386.585,330.352,365.638,304.504,365.612z"/>
	<path fill="#DD307B" d="M246.619,354.548l6.241,6.241c28.522-28.523,74.764-28.523,103.288,0
		c28.522,28.523,28.522,74.764,0,103.288l6.24,6.24c31.487-32.451,30.71-84.28-1.741-115.77
		C328.887,323.727,278.383,323.727,246.619,354.548z"/>
</g>
<g class="size-3-active">
	<path fill="#DD307B" d="M160.503,456.842c-20.521,0-37.154-16.633-37.154-37.152c0-20.521,16.634-37.154,37.154-37.154
		c20.519,0,37.154,16.634,37.154,37.154l0,0C197.643,440.199,181.014,456.829,160.503,456.842z M160.503,388.038
		c-17.482,0-31.65,14.171-31.65,31.649c0,17.479,14.168,31.65,31.65,31.65c17.479,0,31.65-14.171,31.65-31.65l0,0
		C192.136,402.216,177.977,388.056,160.503,388.038z"/>
	<path fill="#DD307B" d="M121.374,380.559l4.219,4.219c19.281-19.282,50.54-19.282,69.821,0c19.281,19.281,19.281,50.54,0,69.821
		l4.219,4.22c21.286-21.938,20.759-56.974-1.177-78.259C176.986,359.724,142.846,359.724,121.374,380.559z"/>
</g>
<g class="size-4-active">
	<path fill="#DD307B" d="M74.575,463.297c-17.54,0-31.756-14.217-31.756-31.756s14.217-31.757,31.756-31.757
		c17.538,0,31.756,14.218,31.756,31.757l0,0C106.318,449.072,92.105,463.285,74.575,463.297z M74.575,404.489
		c-14.942,0-27.053,12.11-27.053,27.052c0,14.939,12.11,27.052,27.053,27.052c14.939,0,27.051-12.111,27.051-27.052l0,0
		C101.611,416.606,89.509,404.504,74.575,404.489z"/>
	<path fill="#DD307B" d="M41.13,398.097l3.605,3.605c16.48-16.479,43.197-16.479,59.677,0c16.48,16.479,16.48,43.197,0,59.678
		l3.606,3.605c18.193-18.75,17.743-48.695-1.006-66.89C88.662,380.288,59.482,380.288,41.13,398.097z"/>
</g>
</svg>

<div class="row continue-container background-nav-blue">
    <div class="col-md-12 no-pad text-center">
      <div class="col-md-4">
        <a class="previous" href="/patient1view4" data-navigate="patient1view4"><button class="" type="button" name="button">Previous</button></a>
      </div>
      <div class="col-md-4 line-across"></div>
      <div class="col-md-4">
        <!-- Button trigger modal -->
        <a class="continue next"><button type="button"data-toggle="modal" data-target="#myModal"  name="button">Next &#8594;</button></a>
        <!-- Modal -->
        <div class="modal fade" id="modalCorrect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h2>Correct! The area you clicked on indicates abnormal breast tissue.</h2>
              </div>
              <div class="modal-footer background-nav-blue">
                <a href="/patient1view6" data-navigate="patient1view6" class="continue"><button id="next-page" type="button" data-dismiss="modal" name="button">Next &#8594;</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modalIncorrect1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h2>Incorrect! The area you clicked on doesn't indicates abnormal breast tissue.</h2>
              </div>
              <div class="modal-footer background-nav-blue">
                <a class="continue close-modal"><button id="next-page" type="button" data-dismiss="modal" name="button">Next &#8594;</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modalIncorrect2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h2>Incorrect! The area you clicked on doesn't indicates abnormal breast tissue.</h2>
              </div>
              <div class="modal-footer background-nav-blue">
                <a class="continue close-modal"><button id="next-page" type="button" data-dismiss="modal" name="button">Next &#8594;</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modalIncorrect3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h2>Incorrect! The area you clicked on doesn't indicates abnormal breast tissue.</h2>
              </div>
              <div class="modal-footer background-nav-blue">
                <a class="continue close-modal"><button id="next-page" type="button" data-dismiss="modal" name="button">Next &#8594;</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

    </main>
  </div>

</div>
