
<div class="spacer2"></div>
<div class="row">
  <div class="col-sm-3 no-pad">
    <div id="side-navs-1">

      <nav class="side-nav">
        <img class="img-responsive" src="images/patient_headshot3_cropped.jpg" alt="" />
        <ul class="complete-side">
          <li><span class="number-gray">No.01</span></li>
          <li class="pink-text">Mammograms</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
        </ul>

          <ul class="complete-side">
            <li><span class="number-gray">No.02</span></li>
            <li class="pink-text">Biopsy</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>


        <div class="background-pink">
          <ul>
            <li><span class="white">No.03</span></li>
            <li class="border-bottom">Molecular Testing</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>
        </div>
        <div class="row next-steps">

            <div class="row breadcrumb steps-13">
              <ul>
                <li class="1st-step completed"><span class="dot completed"></li>
                <li class="2nd-step completed"><span class="dot completed"></span></li>
                <li class="3rd-step completed"><span class="dot completed"></span></li>
                <li class="4th-step completed"><span class="dot completed"></span></li>
                <li class="5th-step active"><span class="dot active"><img src="images/hotspot.png" class="hotspot" alt="hotspot" /></span><span class="dot active pulse"></span></li>
                <li class="6th-step "><span class="dot"></span></li>
                <li class="7th-step "><span class="dot "></span></li>
                <li class="8th-step "><span class="dot "></span></li>
                <li class="9th-step "><span class="dot "></span></li>
                <li class="10th-step"><span class="dot"></span></li>
                <li class="11th-step"><span class="dot"></span></li>
                <li class="12th-step"><span class="dot"></span></li>
              </ul>
            </div>
          <ul>
            <li><span>No.04</span></li>
            <li>Recommendations</li> <!-- TODO - MAKE THIS TIED TO COLLECTION -->
          </ul>
        </div>
      </nav>


    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">
    <blockquote>
    The HER2 FISH Test is another test performed on all breast cancer. FISH stands for Fluorescence in Situ Hybridization.
    </blockquote>
  <main id="content-main" class="row patient-1">

    <p>In the HER2 FISH Test, the pathologist uses breast tissue to detect the presence of
      extra copies of the HER2 gene.</p>
    <p> The technique involves attaching special fluorescing dyes to a piece of DNA.
      The dye binds to a known DNA sequence in the HER2 gene and fluoresces, appearing
      as a colored dot under a fluorescence microscope.  The HER2 gene is located on
      chromosome 17 (called CEP17).  Dots that represent CEP17 fluoresce a different color
      than the HER2 dots.</p>
      <p>
      The pathologist uses the microscope to observe and count the HER2 dots and the CEP17 dots.
       The ratio of HER2 dots to CEP17 dots is used to determine the results of the HER2 FISH Test.
          </p>

        <div class="row continue-container background-nav-blue">
            <div class="col-md-12 no-pad text-center">
              <div class="col-md-4">
                <a data-navigate="patient1view19" class="previous"><button class="" type="button" name="button">&#8592; Previous</button></a>
              </div>
              <div class="col-md-4 line-across">

              </div>
              <div class="col-md-4">
                <a data-navigate="patient1view21" class="continue next"><button type="button" name="button">Next &#8594;</button></a>
              </div>
            </div>
        </div>
  </main>
</div>
</div>
