
<div class="spacer2"></div>
<div class="row">
  <div class="col-md-3 no-pad">
    <div id="side-navs-fixed">
      <nav class="side-nav background-green">
        <img class="patient1" src="images/patient3-final.jpg">
<img class="patient2" src="images/patient1-final.jpg">

<img class="patient3" src="images/patient2-final.jpg">
      </nav>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">
    <blockquote>
Congratulations, you have completed the Decoding Cancer Virtual Lab.    </blockquote>
    <main id="content-main" class="row patient-3 intro-border">

      <p>As you have experienced in this lab, precision medicine reduces over-treatment and under-treatment of cancer. Precision medicine better defines options for treatment accounting for an individual’s unique tumor characteristics and other patient factors.<br><br>
This targeted approach offers particular promise in the treatment of breast cancer because it offers a more specific therapy with greater benefit and fewer side effects.<br><br>
In keeping with the MoonShot initiative to cure cancer, a better understanding of the unique characteristics of each tumor will guide the development of more effective treatments for cancer patients.  This strategy will one day allow us to win the war against cancer.<br><br> <a style="color:#337ab7;" >Click here to download your certificate of completion.</a>

</p>
<figure><img src="images/patient_and_doctor3.jpg" alt="" /></figure>

<div class="row continue-container  ">
    <div class="col-md-12 no-pad text-center">
      <a href="http://www.decodingcancer.org"  class="continue background-nav-blue intro-fix"><button type="button" class="line-before" name="button">Return to Decoding Cancer</button></a>
    </div>
</div>

    </main>
  </div>

</div>
