

<div class="row">
  <div class="col-sm-3 no-pad">
    <div id="side-navs"></div>
  </div>
  <main id="content-main" class="col-sm-6"></main>
</div>

{{ messages.text }}
<div style="margin-top:4em;">
  <p>Currently viewing <a href="/">index.html</a></p>
  <p>wanna view screen 1?<a data-navigate="screen1">screen1view.html</a></p>
  <p>wanna view screen 2?<a data-navigate="screen2">screen2view.html</a></p>
  <p>wanna view screen 3?<a data-navigate="screen3">screen3view.html</a></p>
  <p>wanna view start screen?<a data-navigate="startView">startView.html</a></p>
  <p>wanna view patient1?<a data-navigate="patient1view1">patient1view1.html</a></p>
  <p>wanna view svgtest?<a data-navigate="svgTest">svgtest.html</a></p>
  <p>wanna view patient1 view6?<a data-navigate="patient1view6">patient1view6.html</a></p>
  <p>wanna view patient 1 view5?<a data-navigate="patient1view5">patient1view5.html</a></p>
  <p>wanna view patient 1 view11?<a data-navigate="patient1view11">patient1view11.html</a></p>
  <p>wanna view patient 1 view22?<a data-navigate="patient1view22">patient1view22.html</a></p>
  <p>wanna view patient 2?!?!?!?<a data-navigate="patient2view1">patient2view1.html</a></p>
</div>
