
<blockquote>
Precision medicine is changing the face of cancer treatment.
</blockquote>
<h2>What is precision medicine?
</h2>
<p>In precision medicine, physicians consider an individual’s specific genes, medical history, environment, and lifestyle.  They use these factors – along with the specific characteristics of the  patient's tumor – to balance various options for  treatment and prevention of diseases, including breast cancer. This state-of-the-art approach reduces the chances of over-treating or under-treating breast cancer by tailoring treatment to each patient’s precise needs based on the characteristics of the tumor.
</p>
   <figure class="margin-bottom-equal">
     <img class="one-hun" src="images/slide3.png" alt="Pathologist views slides through a microscope" />



   </figure>

   <h2>What role do genes play in cancer treatment?</h2>
   <p>Genes make up the code that a cell uses to carry out all its functions. The cell’s machinery uses this code to make the proteins that perform specific roles in the cell. Cancer arises when some genes are mutated at their nucleotide sequence, resulting in protein malfunction. Physicians can test cancer cells from a tissue sample to discover which genes are abnormal. The physician can then use knowledge about the abnormal genes to recommend treatments personalized to the patient.
</p>
    <div class="row continue-container">
        <div class="col-md-12 no-pad text-center">
          <a class="previous" data-navigate="/"></a>
          <a data-navigate="startview" class="continue background-nav-blue intro-fix"><button type="button" class="line-before" name="button">Continue</button></a>
        </div>
    </div>
