<div id="quiz2" class="quiz__container">
  <header class="quiz-header">
    <h1>Are You a comeback kid?</h1>
  </header>
  <div class="quiz__content">
    <div id="questionHeader" class="question__top"></div>
    <div id="questionBottom" class="question__bottom"></div>
  </div>
  <nav id="quizNavigation" class="quiz__nav">
    <button id="quizYes" class="btn btn-warning">Yes!</button>
    <button id="quizNo" class="btn btn-warning">No</button>
  </nav>
</div>
