
<div class="pick-overlay">

</div>
<div class="col-md-4 col-md-offset-4">
    <blockquote class="start-quote">
        Lets choose the next patient below and learn more about her.
    </blockquote>
</div>
<div class="pick-patient col-md-8 col-md-offset-2">
  <div class="overlay-pink"></div>
    <div class="col-md-5 no-pad">
      <img class="patient1" src="images/patient3-final.jpg">
        <img class="up-next finished" src="images/completed.png" alt="" />
    </div>
    <div class="col-md-7 no-pad ">
      <img class="lock" src="images/medical.png" alt="" />
        <div class="patient-title background-pink">
            <h4>patient n<span style="text-transform:lowercase;">o</span>. 01</h4>
            <h3>Velma Belt</h3>
            <img class="arrow-start" src="images/arrow.png">

        </div>
        <div class="row patient-copy">
            <p>
                Michele is a 47&mdash;year old female. Her physician spotted abnormal tissue during a routine mammogram. Michele has never had breast cancer before.
            </p>
        </div>
    </div>
</div>
<div class="pick-patient col-md-8 col-md-offset-2">
  <div class="overlay-purple"></div>
    <div class="col-md-5 no-pad">
      <img class="patient2" src="images/patient1-final.jpg">
      <img class="up-next finished" src="images/completed-purple.jpg" alt="" />
    </div>
    <div class="col-md-7 no-pad">
      <img class="lock" src="images/medical.png" alt="" />
        <div class="patient-title background-purple">
            <h4>patient n<span style="text-transform:lowercase;">o</span>. 02</h4>
            <h3>Michele Johnson</h3>
            <img class="arrow-start" src="images/arrow.png">

        </div>
        <div class="row patient-copy">
            <p>
                Michele is a 47&mdash;year old female. Her physician spotted abnormal tissue during a routine mammogram. Michele has never had breast cancer before.
            </p>
        </div>
    </div>
</div>
<div class="pick-patient col-md-8 col-md-offset-2">
  <a class="start-patient" href="/patient3view1" data-navigate="patient3view1"></a>

  <div class="col-md-5 no-pad">

    <img class="patient3" src="images/patient2-final.jpg">
  </a>
  </div>
  <div class="col-md-7 no-pad">
    <a class="no-link-color2" href="/patient3view1" data-navigate="patient3view1">
  <div class="patient-title background-green">
    <h4>patient n<span style="text-transform:lowercase;">o</span>. 03</h4>
    <h3>Brittany Featherston</h3>
    <img class="arrow-start" src="images/arrow.png">

  </div>
    <div class="row patient-copy">
      <p>
        Brittany is a 39&mdash;year old female. She was successfully treated for breast cancer at the age of 32. During her monthly self-breast exam, Brittany felt a lump in her left breast and immediately consulted her physician, who ordered a mammogram.
<a class="text-blue" href="/patient3view1" data-navigate="patient3view1">Click here to learn more about Brittany.</a>
      </p>
    </div>
</a>
  </div>
</div>
