
<div class="spacer2"></div>
<div class="row">
  <div class="col-md-3 no-pad">
    <div id="side-navs-fixed">
      <nav class="side-nav background-purple">
        <img class="patient2" src="images/patient1-final.jpg">
        <ul class="background-purple margin-bottom-0">
          <li><span class="white">Patient No.02</span></li>
          <li>Michele Johnson</li>
        </ul>
        <div class="row next-steps p-2-steps">
          <ul class="background-purple">
            <li><span></span></li>
            <li class="border-bottom"><span><img src="images/icon_biopsy_on.png" alt="" /></span>Biopsy</li>
          </ul>
          <ul class="background-purple">
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_ertest_on.png" alt="" /></span> Er Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_her2test_over.png" alt="" /></span> HER2 Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_her2test_over.png" alt="" /></span> HER2 Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_biopsy_over.png" alt="" /></span>HER2 Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class=""><img src="images/icon_treatment_over.png" alt="" /></span>HER2 Test</li>
          </ul>
        </div>
      </nav>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">
    <blockquote>
      Michele had a left breast biopsy. Let’s evaluate the tissue.
  </blockquote>
    <main id="content-main" class="row patient-2 top-gray svg-test">

      <div class="header-gray">
        <div class="col-md-3">
          <img src="images/magnify_glass_icon.png" alt="magnifying glass icon" />
        </div>
        <div class="col-md-9">
          <h4>Does this tissue sample indicate the presence of cancer?
</h4>

        </div>
      </div>
      <p>Here is important information about Michele’s tissue sample.  Be sure to record it in your Lab Handbook.
</p>
<ul class="specs">
  <li><strong>Specimen Type:   </strong>Left breast biopsy</li>
  <li><strong>Laterality:</strong> left</li>
  <li><strong>Tumor size:</strong>1 cm</li>

</ul>
<figure>
  <img class="magnify one-hun" class="zoom" data-magnify-src="images/HE_Invasive_Michele.jpg" src="images/HE_Invasive_Michele.jpg" alt="cell biopsy slide 3" />
</figure>




         <div class="row continue-container background-nav-blue">
             <div class="col-md-12 no-pad text-center">
               <div class="col-md-4">
                 <a data-navigate="patient2view4" class="previous"><button class="" type="button" name="button">&#8592; Previous</button></a>
               </div>
               <div class="col-md-4 line-across">

               </div>
               <div class="col-md-4">
                 <a data-navigate="patient2view6" class="continue next"><button type="button" name="button">Next &#8594;</button></a>
               </div>
             </div>
         </div>


    </main>
  </div>

</div>
