
<div class="spacer2"></div>
<div class="row">
  <div class="col-md-3 no-pad">
    <div id="side-navs-fixed">
      <nav class="side-nav background-purple">
        <img class="patient2" src="images/patient1-final.jpg">
        <ul>
          <li><span class="white">Patient No. 02</span></li>
          <li>Michele Johnson</li>
        </ul>
        <div class="row next-steps p-2-steps">
          <ul class="background-purple">
            <li><span></span></li>
            <li class="border-bottom"><span><img src="images/icon_biopsy_on.png" alt="" /></span>Biopsy</li>
          </ul>
          <ul class="background-purple">
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_ertest_on.png" alt="" /></span> ER Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_her2test_over.png" alt="" /></span> HER2 Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_her2test_over.png" alt="" /></span> HER2 FISH Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_biopsy_over.png" alt="" /></span> OncoType DX Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class=""><img src="images/icon_treatment_over.png" alt="" /></span> Treatment</li>
          </ul>
        </div>
      </nav>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">

    <main id="content-main" class="row patient-2">
      <blockquote>
        Here is Michele’s mammogram.
      </blockquote>
      <p>
        Review Michele’s mammogram and click on an area that shows abnormalities.

      </p>
      <div class="svg-container">
        <div class="svg-text">Which object is closest in size?</div>
      <svg preserveAspectRatio="xMinYMin meet" class="svg-content" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="100%" height="100%" viewBox="0 0 432 451.2" enable-background="new 0 0 432 451.2" xml:space="preserve">
         <image width="432" height="451.2" xlink:href="images/Mammogram_Left_Abnormal_Patient2-Michele.jpg">
         </image>
      <path class="cancer correct"  fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M111.36,157.92l1.92-9.12l6.24,1.44l3.84,3.36l2.88-3.36l-0.96-5.76
        l6.24-1.44l0.96,5.28l6.24-4.8l0.48-6.24v-8.16l4.32-0.96l1.44-7.68l3.84-0.48l9.6-0.96l12,0.48l-0.96-4.32l-19.2-1.44l-9.6-6.24
        l-13.44-6.24l-11.04-0.96l-7.2,9.6l-5.76,8.16l-7.68,6.72v9.6l4.8,8.16l1.44,8.16L111.36,157.92z"/>
      <path class="cancer" fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M249.12,236.16l0.96,12.96l-2.4,11.52l-6.72,8.64l-3.84,6.24
        l7.68,0.48l7.2-10.08l5.28-0.48l6.72-7.68l-5.28-6.24l-4.8-8.16L249.12,236.16z"/>
      <path class="cancer" fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M80.16,314.88l-9.6-6.72l-9.6-12l-12.48,4.8L60,316.32l13.44,8.64
        l14.88,8.64l-0.48-8.64L80.16,314.88z"/>
      <path class="cancer" fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M160.32,299.52l2.88-6.72l-5.76-7.2l-8.16-6.24l16.32,10.08l8.16,1.92
        l12.48,6.24l8.64,9.6l-11.52-0.48l-9.12-1.92L160.32,299.52z"/>
      <path class="circle" fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M122.16,87.36c22.4,0,40.56,18.159,40.56,40.56
        c0,22.4-18.16,40.56-40.56,40.56c-22.401,0-40.56-18.159-40.56-40.56C81.6,105.519,99.759,87.36,122.16,87.36z"/>
      <path class="cancer" fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M98.4,109.44"/>
      </svg>
      </div>
          <div class="row continue-container background-nav-blue">
              <div class="col-md-12 no-pad text-center">
                <div class="col-md-4">
                  <a class="previous"  data-navigate="patient2view1"><button class="" type="button" name="button">&#8592; Previous</button></a>
                </div>
                <div class="col-md-4 line-across">

                </div>
                <div class="col-md-4">


                  <!-- Button trigger modal -->
                  <a class="continue next"><button type="button"data-toggle="modal" data-target="#myModal"  name="button">Next &#8594;</button></a>

                  <!-- Modal -->
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <h2>Correct! The area you clicked on indicates abnormal breast tissue.</h2>
                        </div>
                        <div class="modal-footer background-nav-blue">
                          <a data-navigate="patient2view3" class="continue"><button id="next-page" type="button" data-dismiss="modal" name="button">Continue</button></a>

                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
          </div>


    </main>
  </div>

</div>
