
<div class="spacer2"></div>
<div class="row">
  <div class="col-md-3 no-pad">
    <div id="side-navs-fixed">
      <nav class="side-nav background-purple">
        <img class="patient2" src="images/patient1-final.jpg" alt="Michele Johnson">
        <ul class="background-purple margin-bottom-0">
          <li><span class="white">Patient No. 02</span></li>
          <li>Michele Johnson</li>
        </ul>
        <div class="row next-steps p-2-steps">
          <ul class="background-gray2">
            <li><span></span></li>
            <li class="border-bottom purple-text"><span><img src="images/icon_biopsy_off.png" alt="" /></span>Biopsy</li>
          </ul>
          <ul class="background-purple">
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_ertest_on.png" alt="" /></span> ER Test</li>
          </ul>

          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_her2test_over.png" alt="" /></span> HER2 FISH Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_biopsy_over.png" alt="" /></span> OncoType DX Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class=""><img src="images/icon_treatment_over.png" alt="" /></span> Treatment</li>
          </ul>
        </div>
      </nav>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">
    <blockquote>
      Here is Michele’s mammogram.
    </blockquote>
    <main id="content-main" class="row patient-2 svg-test">

      <p class="pad50">
        Review Michele's mammogram and click on the area that shows an abnormality.
        <br><br>
        Be sure to record the information in your Lab Handbook.
      </p>
      <div class="svg-container">
        <div class="svg-text">Click the area that shows an abnormality.</div>



      <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 810 810" style="enable-background:new 0 0 810 810;" xml:space="preserve">
<style type="text/css">
	.st0{opacity:0.35;}
	.st1{fill:#FFFFFF;}
</style>
<image style="width:100%;height:100%;position:relative;top:0;left:0;bottom:0;right:0;overflow:visible;enable-background:new"  width="810" height="810" xlink:href="images/Mammogram_Left_Abnormal_Patient2-Michele.jpg" >
</image>
<circle class="st0" cx="147.1" cy="587.8" r="44.1"/>
<path fill="#FFFFFF" class="circle" d="M147.1,636.3c-26.8,0-48.5-21.7-48.5-48.5c0-26.8,21.7-48.5,48.5-48.5s48.5,21.7,48.5,48.5l0,0
	C195.6,614.6,173.9,636.3,147.1,636.3z M147.1,546.5c-22.8,0-41.3,18.5-41.3,41.3s18.5,41.3,41.3,41.3s41.3-18.5,41.3-41.3l0,0
	C188.4,565,169.9,546.5,147.1,546.5z"/>
<path fill="#FFFFFF" class="circle2" d="M96,536.7l5.5,5.5c25.2-25.2,66-25.2,91.2,0s25.2,66,0,91.2l5.5,5.5c27.8-28.6,27.1-74.4-1.5-102.2
	C168.6,509.5,124,509.5,96,536.7z"/>
<polygon fill="none" class="cancer" points="168,630 189,613 192,592 183,573 165,551 138,536 129,544 114,554.8 98,564.6 98,583 122,609 139,627
	"/>
</svg>



</svg>
<div class="modal fade" id="modalCorrect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Correct. The area you clicked on indicates abnormal breast tissue.</h2>
      </div>
      <div class="modal-footer background-nav-blue">
        <a href="/patient2view3" data-navigate="patient2view3" class="continue"><button id="next-page" type="button"  name="button">Continue</button></a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalIncorrect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Incorrect. The area you clicked on indicates normal breast tissue. Please try again.</h2>
      </div>
      <div class="modal-footer background-nav-blue">
        <a class="continue-2 close-modal"><button id="next-page" type="button" data-dismiss="modal"  name="button">Try Again</button></a>
      </div>
    </div>
  </div>
</div>

      </div>
          <div class="row continue-container background-nav-blue">
              <div class="col-md-12 no-pad text-center">
                <div class="col-md-4">
                  <a class="previous"  data-navigate="patient2view1"><button class="" type="button" name="button">&#8592; Previous</button></a>
                </div>
                <div class="col-md-4 line-across">

                </div>
                <div class="col-md-4">


                  <!-- Button trigger modal -->
                  <a class="continue next gray"><button type="button gray"  name="button">Submit &#8594;</button></a>

                  <!-- Modal -->



                </div>
              </div>
          </div>


    </main>
  </div>

</div>
