
<div class="spacer2"></div>
<div class="row">
  <div class="col-md-3 no-pad">
    <div id="side-navs-fixed">
      <nav class="side-nav background-purple">
        <img class="patient2" src="images/patient1-final.jpg" alt="Michele Johnson">
        <ul class="background-purple margin-bottom-0">
          <li><span class="white">Patient No. 02</span></li>
          <li>Michele Johnson</li>
        </ul>
        <div class="row next-steps p-2-steps">
          <ul class="background-gray2">
              <li><span></span></li>
              <li class="border-bottom purple-text"><span><img src="images/icon_biopsy_off.png" alt="" /></span>Biopsy</li>
            </ul>
            <ul class="background-purple">
              <li><span></span></li>
              <li class="border-bottom"><img src="images/icon_ertest_on.png" alt="" /></span> ER Test</li>
            </ul>

            <ul>
              <li><span></span></li>
              <li class="border-bottom"><img src="images/icon_her2test_over.png" alt="" /></span> HER2 FISH Test</li>
            </ul>
            <ul>
              <li><span></span></li>
              <li class="border-bottom"><img src="images/icon_biopsy_over.png" alt="" /></span> OncoType DX Test</li>
            </ul>
            <ul>
              <li><span></span></li>
              <li class=""><img src="images/icon_treatment_over.png" alt="" /></span> Treatment</li>
            </ul>
        </div>
      </nav>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">
    <blockquote>
Michele’s tissue sample has been sent for ER testing.  </blockquote>
    <main id="content-main" class="row patient-2 top-gray svg-test">

      <div class="header-gray">
        <div class="col-md-3">
          <img src="images/magnify_glass_icon.png" alt="magnifying glass icon" />
        </div>
        <div class="col-md-9">
          <h4>Click the microscope to conduct the ER Test.

</h4>

        </div>
      </div>
      <p>Are Michele’s ER test results positive or negative? Be sure to record this information in the Lab Handbook. Hover over the tissue samples to magnify.

</p>
<ul class="specs multi-pad">
  <li><strong>Specimen Type:   </strong>Left breast biopsy</li>
  <li><strong>Laterality:</strong> left</li>
  <li><strong>Tumor size:</strong>1 cm</li>

</ul>

<figure class="multi-pad">
  <img class="magnify one-hun" class="zoom" data-magnify-src="images/ERNeg_Invasive_IHC_Michele.jpg" src="images/ERNeg_Invasive_IHC_Michele.jpg" alt="Microscopic image of ER Test tissue sample shows white background with no brown spots" />
</figure>

<div class="row m-bottom multi-pad">


<div class="col-md-5 yes-no col-sm-offset-1-5">
  <a  class="continue next y-n"><button type="button" data-toggle="modal" data-backdrop="static" data-target="#myModal2"  name="button">Positive </button></a>
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
        <h2>Incorrect. Michele’s tissue sample does not contain brown coloring. Her ER test is negative.</h2>
        </div>
        <div class="modal-footer background-nav-blue">
          <a href="/patient1view8" data-navigate="patient2view9" class="continue"><button id="next-page" type="button"  name="button">Continue</button></a>

        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-left: 25px;" class="col-md-5 yes-no">
  <a  class="continue next y-n"><button  type="button"data-toggle="modal" data-backdrop="static" data-target="#myModal"  name="button">Negative</button></a>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
        <h2><span class="pink-hl">Correct</span>. Michele’s tissue sample does not contain brown coloring. Her ER test is negative.</h2>
        </div>
        <div class="modal-footer background-nav-blue">
          <a href="/patient1view10" data-navigate="patient2view9" class="continue"><button id="next-page" type="button"  name="button">Continue</button></a>

        </div>
      </div>
    </div>
  </div>

</div>
</div>


         <div class="row continue-container background-nav-blue">
             <div class="col-md-12 no-pad text-center">
               <div class="col-md-4">
                 <a data-navigate="patient2view7" class="previous"><button class="" type="button" name="button">&#8592; Previous</button></a>
               </div>
               <div class="col-md-4 line-across">

               </div>
               <div class="col-md-4">
                 <a class="continue next"><button class="muted" type="button" name="button">Next &#8594;</button></a>
               </div>
             </div>
         </div>


    </main>
  </div>

</div>
