<div class="spacer2"></div>
<div class="row">
  <div class="col-md-3 no-pad">
    <div id="side-navs-fixed">
      <nav class="side-nav background-purple">
        <img class="img-responsive" src="images/patient2.png" alt="" />
        <ul>
          <li><span class="white">Patient No.02</span></li>
          <li>Michele Johnson</li>
        </ul>
        <div class="row next-steps p-2-steps">
          <ul class="background-purple">
            <li><span></span></li>
            <li class="border-bottom"><span><img src="images/icon_biopsy_on.png" alt="" /></span>Biopsy</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_ertest_over.png" alt="" /></span> Er Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_her2test_over.png" alt="" /></span> Her2 Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_her2test_over.png" alt="" /></span> Her2 Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_biopsy_over.png" alt="" /></span>Her2 Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class=""><img src="images/icon_treatment_over.png" alt="" /></span>Her2 Test</li>
          </ul>
        </div>
      </nav>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">

    <main id="content-main" class="row patient-2">
      <blockquote>
  Dr. You: Make a Decision
      </blockquote>
      <p>Do you have enough information to make a recommendation for treatment or do you need additional information?
</p>
<p>
Click below to make your selection for next steps.
</p>
         <!-- <figure class="m-bottom">
           <img src="images/patient2slide1.png" alt="" />
           <figcaption>
             This is a caption. Lorem ipsum dolor sin sit amet consectutor
           </figcaption>
         </figure> -->
         <div class="row continue-container background-nav-blue">
             <div class="col-md-12 no-pad text-center">
               <div class="col-md-4">
                 <a data-navigate="patient2view6" class="previous"><button class="" type="button" name="button">Select Treatment</button></a>
               </div>
               <div class="col-md-4 line-across">

               </div>
               <div class="col-md-4">
                 <a data-navigate="patient2view8" class="continue next"><button type="button" name="button">Next Test &#8594;</button></a>
               </div>
             </div>
         </div>

    </main>
  </div>

</div>
