 <div class="spacer2"></div>
<div class="row">
  <div class="col-md-3 no-pad">
    <div id="side-navs-fixed">
      <nav class="side-nav background-green">
        <img class="patient3" src="images/patient2-final.jpg" alt="Brittany Featherston">
        <ul class="background-green margin-bottom-0">
          <li><span class="white">Patient No.03</span></li>
          <li>Brittany Featherston</li>
        </ul>
        <div class="row next-steps p-2-steps">
          <ul class="background-green">
            <li><span></span></li>
            <li class="border-bottom"><span><img src="images/icon_biopsy_on.png" alt="" /></span>Biopsy</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_ertest_over.png" alt="" /></span> ER Test</li>
          </ul>

          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_her2test_over.png" alt="" /></span> HER2 FISH Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_biopsy_over.png" alt="" /></span> OncoType DX Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class=""><img src="images/icon_treatment_over.png" alt="" /></span> Treatment</li>
          </ul>
        </div>
      </nav>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">
    <blockquote>
The pathologist examined Brittany’s tissue and has provided a pathology report.
    </blockquote>
    <main id="content-main" class="row patient-3 svg-test">

      <div class="header-gray">
        <div class="col-md-3">
          <img src="images/magnify_glass_icon.png" alt="magnifying glass icon" />
        </div>
        <div class="col-md-9">
          <h4><b>Patient Overview</b>
            Here is important information about Brittany's tissue sample.  Be sure to record it in your Lab Handbook.</h4>

        </div>
      </div>

        <ul class="specs fig-fix">
          <li><strong>Final Diagnosis:</strong> Invasive ductal carcinoma</li>

          <li><strong>Histological Grade:</strong> 3</li>
          <li><strong>Stage:</strong> 2</li>
          <li><strong>Number of nodes examined:</strong> 5</li>
          <li><strong>Number of positive nodes:</strong> 0</li>

        </ul>

      </p>
      <figure class="fig-fix">
        <img src="images/Discovery_ValSkinner_PathologyReports_2.jpg" alt="Pathology report shows detailed information about the patient’s tumor" />
      </figure>
        <p class="multi-pad">Be sure to record this information in your Lab Handbook.</p>
         <div class="row continue-container background-nav-blue">
             <div class="col-md-12 no-pad text-center">
               <div class="col-md-4">
                 <a data-navigate="patient3view5" class="previous"><button class="" type="button" name="button">&#8592; Previous</button></a>
               </div>
               <div class="col-md-4 line-across">

               </div>
               <div class="col-md-4">
                 <a data-navigate="patient3view7" class="continue next"><button type="button" name="button">Next &#8594;</button></a>
               </div>
             </div>
         </div>

    </main>
  </div>

</div>
