<div class="spacer2"></div>
<div class="row">
  <div class="col-md-3 no-pad">
    <div id="side-navs-fixed">
      <nav class="side-nav background-green">
        <img class="patient3" src="images/patient2-final.jpg">
        <ul class="background-green margin-bottom-0">
          <li><span class="white">Patient No.03</span></li>
          <li>Brittany Featherston</li>
        </ul>
        <div class="row next-steps p-2-steps">
        <ul class="background-green">
            <li><span></span></li>
            <li class="border-bottom"><span><img src="images/icon_biopsy_on.png" alt="" /></span>Biopsy</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_ertest_over.png" alt="" /></span> ER Test</li>
          </ul>

          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_her2test_over.png" alt="" /></span> HER2 FISH Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_biopsy_over.png" alt="" /></span> OncoType DX Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class=""><img src="images/icon_treatment_over.png" alt="" /></span> Treatment</li>
          </ul>
        </div>
      </nav>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">
    <blockquote>
  Brittany’s OncoType DX® Test results are in!
    </blockquote>
    <main id="content-main" class="row patient-3">

      <p><span class="pink-hl">Brittany Featherston’s OncoType DX® Test Results: 35</span><br><br>
    Be sure to record the results in your Lab Handbook.
    </p>

    <div class="row continue-container background-nav-blue">
        <div class="col-md-12 no-pad text-center">
          <div class="col-md-4">
            <a class="previous" href="/patient3view14" data-navigate="patient3view14"><button class="" type="button" name="button">&#8592; Previous</button></a>
          </div>
          <div class="col-md-4 line-across">

          </div>
          <div class="col-md-4 col-md-offset-4">


            <!-- Button trigger modal -->
            <a data-navigate="patient3view14" class="continue next"><button class="muted" type="button" name="button">Next &#8594;</button></a>

            <!-- Modal -->



          </div>
        </div>
    </div>
    </main>
  </div>

</div>
