<div class="spacer2"></div>
<div class="row">
  <div class="col-md-3 no-pad">
    <div id="side-navs-fixed">
      <nav class="side-nav background-green">
        <img class="patient2" src="images/patient2-final.jpg">
        <ul class="background-green margin-bottom-0">
          <li><span class="white">Patient No.02</span></li>
          <li>Michele Johnson</li>
        </ul>
        <div class="row next-steps p-2-steps">
          <ul class="">
            <li><span></span></li>
            <li class="border-bottom"><span><img src="images/icon_biopsy_off.png" alt="" /></span>Biopsy</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_ertest_over.png" alt="" /></span> Er Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_her2test_over.png" alt="" /></span> Her2 Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_her2test_over.png" alt="" /></span> Her2 Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_biopsy_over.png" alt="" /></span>Her2 Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class=""><img src="images/icon_treatment_over.png" alt="" /></span>Her2 Test</li>
          </ul>
        </div>
      </nav>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">
    <blockquote>
In this segment of the Decoding Cancer Virtual Lab, you will evaluate Brittany’s breast cancer and conduct tests to recommend a treatment plan.
    </blockquote>
    <main id="content-main" class="row patient-3">

      <p>Brittany Featherston is a 39-year old female. During her monthly self-breast exam, Brittany felt a lump in her left breast and immediately consulted her physician.  Her physician ordered a mammogram.

</p>
         <figure class="m-bottom">
           <img src="images/patient2slide1.png" alt="" />



         </figure>
         <p><strong>As you progress through the Virtual Lab,  be sure to record Brittany’s test results and your notes in your Lab Handbook.  </strong>
</p>

         <div class="row continue-container background-nav-blue">
             <div class="col-md-12 no-pad text-center">
               <div class="col-md-4">
                 <a class="previous"><button class="muted" type="button" name="button">&#8592; Previous</button></a>
               </div>
               <div class="col-md-4 line-across">

               </div>
               <div class="col-md-4">
                 <a data-navigate="patient3view2" class="continue next"><button type="button" name="button">Next &#8594;</button></a>
               </div>
             </div>
         </div>

    </main>
  </div>

</div>
