<div class="spacer2"></div>
<div class="row">
  <div class="col-md-3 no-pad">
    <div id="side-navs-fixed">
      <nav class="side-nav background-green">
        <img class="patient3" src="images/patient2-final.jpg" alt="Brittany Featherston">
        <ul class="background-green margin-bottom-0">
          <li><span class="white">Patient No.03</span></li>
          <li>Brittany Featherston</li>
        </ul>
        <div class="row next-steps p-2-steps">
        <ul class="background-green">
            <li><span></span></li>
            <li class="border-bottom"><span><img src="images/icon_biopsy_on.png" alt="" /></span>Biopsy</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_ertest_over.png" alt="" /></span> ER Test</li>
          </ul>
       
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_her2test_over.png" alt="" /></span> HER2 FISH Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class="border-bottom"><img src="images/icon_biopsy_over.png" alt="" /></span> OncoType DX Test</li>
          </ul>
          <ul>
            <li><span></span></li>
            <li class=""><img src="images/icon_treatment_over.png" alt="" /></span> Treatment</li>
          </ul>
        </div>
      </nav>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 top-quote">
    <blockquote>
Use the notes from your Lab Handbook to recommend a personalized treatment plan for Brittany Featherston.    </blockquote>
    <main id="content-main" class="row patient-3 svg-test">

      <p class="background-gray3 pad50">Select one of the following options and review your patient’s progress:</p>

<h2>A: Hormone blocking therapy only</h2><div class="row reg-pad">    <div class="col-md-12 no-pad text-center choice background-nav-blue">        <a class="continue answer-1"><button type="button" class="" name="button" data-toggle="modal" data-backdrop="static" data-target="#modalAnswer1" >Administer Treatment A</button></a>
      </div></div><!-- Modal --><div class="modal fade" id="modalAnswer1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">  <div class="modal-dialog" role="document">    <div class="modal-content">      <div class="modal-body pat3">      <h2>Incorrect:  You did not select the most appropriate adjuvant treatment option based on Brittany’s test results.<br><br>          Please review your Lab Handbook and select another treatment option.</h2>      </div>      <div class="modal-footer background-nav-blue">         <a class="continue-2"><button data-dismiss="modal" name="button">Try Again</button></a>      </div>    </div>  </div></div>  <h2>B: Chemotherapy followed by hormone blocking therapy</h2><div class="row reg-pad">    <div class="col-md-12 no-pad text-center choice background-nav-blue">        <a class="continue answer-2"><button type="button" class="" name="button" data-toggle="modal" data-backdrop="static" data-target="#modalAnswer2" >Administer Treatment B</button></a>      </div>  </div>  <div class="modal fade" id="modalAnswer2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">  <div class="modal-dialog" role="document">    <div class="modal-content">      <div class="modal-body pat3">      <h2>Correct: Based on Brittany’s test results, the recommended treatment is hormone therapy and chemotherapy.        As a result of hormone therapy and chemotherapy, Brittany has not had a recurrence of her breast cancer.  Success!</h2>      </div>      <div class="modal-footer background-nav-blue">         <a data-navigate="endview" class="continue-2"><button  name="button">Continue</button></a>      </div>    </div>  </div></div>  <h2>C: HER2-targeted therapy and chemotherapy</h2><div class="row reg-pad">    <div class="col-md-12 no-pad text-center choice background-nav-blue">        <a class="continue answer-3"><button type="button" class="" name="button" data-toggle="modal" data-backdrop="static" data-target="#modalAnswer3" >Administer Treatment C</button></a>      </div>  </div>  <div class="modal fade" id="modalAnswer3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">  <div class="modal-dialog" role="document">    <div class="modal-content">      <div class="modal-body pat3">      <h2>Incorrect:  You did not select the most appropriate adjuvant treatment option based on Brittany’s test results.<br><br>          Please review your Lab Handbook and select another treatment option.</h2>      </div>      <div class="modal-footer background-nav-blue">         <a class="continue-2"><button data-dismiss="modal" name="button">Try Again</button></a>      </div>    </div>  </div></div>  <h2>D: Hormone blocking therapy, HER2-targeted therapy, and chemotherapy</h2><div class="row reg-pad m-bot">    <div class="col-md-12 no-pad text-center choice background-nav-blue">        <a class="continue answer-4"><button type="button" class="" name="button" data-toggle="modal" data-backdrop="static" data-target="#modalAnswer4" >Administer Treatment D</button></a>      </div>  </div>  <div class="modal fade" id="modalAnswer4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">  <div class="modal-dialog" role="document">    <div class="modal-content">      <div class="modal-body pat3">      <h2>Incorrect:  You did not select the most appropriate adjuvant treatment option based on Brittany’s test results.<br><br>          Please review your Lab Handbook and select another treatment option.</h2>      </div>      <div class="modal-footer background-nav-blue">         <a class="continue-2"><button data-dismiss="modal" name="button">Try Again</button></a>      </div>    </div>  </div></div>
         <!-- <figure class="m-bottom">
           <img src="images/patient2slide1.png" alt="" />



         </figure> -->


    </main>
  </div>

</div>
